<div class="search_box">
  <form id="home_search" onSubmit="return false">
      <span>Search for a home</span>
      <input id="query" type="text" name="query">
      <input id="perform_search" type="submit" value="Search">
  </form>
</div>
<div id="display_result"></div>
