body {
  width: 420px;
}

.greeting {
  margin: 5px;
  font-size: 25px;
  text-align: center;
}

.search_box {
  text-align: center;
}
.search_box input {
  margin: 5px;
  font-size: 16px;
}

.search_box #query {
  width: 75%;
}

#display_result {
  margin: 5px;
  margin-bottom: 10px;
  text-align: justify;
}

#display_result div img {
  margin: 5px;
}

#display_result .core_data {
  margin: 10px 5px 10px 5px;
}

#display_result .financials {
  margin: 10px 5px 10px 5px;
}

#display_result .description {
  margin: 10px 5px 10px 5px;
  width: 100%;
}
